*{
    background-color: #121213;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

body * {
    color: #D7DADC;
}

main {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch center;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------------------------- header CSS */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #3A3A3C;;
}

header > * {
    margin: 0;
    flex: 1;
}

header button {
    min-width: 24px;
    min-height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

#header-right {
    display: flex;
    justify-content: end;
    gap: 10px;
}

#btn-info {
    background-image: url(images/help_outline_white_24dp.svg);
}

#btn-leaderboard {
    background-image: url(images/leaderboard_white_24dp.svg); 
}

#btn-settings {
    background-image: url(images/settings_white_24dp.svg);
}


/* ------------------------------------------------- game grid CSS */

#game-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    flex: 100%;
    flex:1;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.game-row {
    display: flex;
    gap: 5px;
}

.box {
    border: 2px solid #3A3A3C;
    font-size: 2rem;
    width: 2rem;
    height: fit-content;
    text-align: center;
}

/* ------------------------------------------------- game keyboard CSS */

#game-keyboard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.keyboard-row {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.keyboard-row button {
    padding: 1rem;
}

#game-keyboard button {
    background-color: #818384;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
}